<%= render "shared/tabs" %>


<div class="row">
  <div class="col-md-6 offset-md-3">

    <%= render "/users/follow", people: @leaders %>
    <!--
    >
    <ul class="list-group">
      <% @leaders.each do |leader| %>
        <li class="list-group-item list-group-item-action">
          <%= link_to "#{leader.username}", user_path(leader.username) %>
        </li>
      <% end %>
    </ul>
    -->
  </div>
</div>
